{% extends 'base.html' %}

{% block title %}
    List Of Documents
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">What i do today =)</h4>
            <p class="card-text">Text</p>
        </div>
    </div>

    <div class="mt-4">
        <a name="" id="" class="btn btn-primary btn-lg" href="{% url 'document-new' %}" role="button">Add Document</a>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Documents List
        </div>
        <div class="card-body">
            {% for object in object_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            {% if  object.get_batch_obj.correlative  %}
                                Batch: {{ object.get_batch_obj.correlative }}
                                {% else %}
                                NO BATCH!! =/
                            {% endif %}
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                {% if object.observation %}
                                    <p>{{ object.observation }}</p>
                                {% else %}
                                    <p>No Observation register</p>
                                {% endif %}
                                <p>Type: {{ object.type }}</p>
                                <p>User: {{ object.user }}</p>
                                {% if  object.is_upload  == False %}
                                    <p class="text-danger">Not uploaded</p>
                                {% endif %}
                            </div>
                            <div class="col-md-6 ">
                                <a name="" id="" class="btn btn-primary float-right" href="{% url 'document-detail' object.pk %}" role="button">See Detail</a>
                                <button type="button" class="btn btn-primary float-right mr-4">See Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">No documents in the list</h4>
                        <p class="card-text">add some plz =)</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
{% endblock %}