{% extends 'base.html' %}

{% block title %}
    New Document
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            New Document
        </div>
        <div class="card-body">
            {% load crispy_forms_tags %}

            <form action="{% url 'document-new' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input name="" id="" class="btn btn-primary btn-lg" type="submit" value="Submit">
                <a name="" id="" class="btn btn-secondary btn-lg" href="{% url 'document-list' %}" role="button">Cancel</a>
            </form>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
{% endblock %}