{% extends 'base.html' %}

{% block title %}
    Detail of Batch
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Detail of {{ batch_info.correlative }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ batch_info.correlative }}</h4>
            <hr/>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <p class="card-text">Created: {{ batch_info.date_created }}</p>
                    <p class="card-text">Updated: {{ batch_info.date_updated }}</p>
                    <p class="card-text">Uploaded: {{ batch_info.is_uploaded }}</p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <h1 class="card-title d-flex justify-content-center font-weight-bold" style="font-size: 4em">
                        {% if batch_info.get_number_of_documents_by_batch == 0 %}
                            =(
                        {% else %}
                            {{ batch_info.get_number_of_documents_by_batch }}
                        {% endif %}
                    </h1>
                    <span class="d-flex justify-content-center">Number of Documents</span>
                </div>
            </div>
            <div class="mt-4">
                <a name="" id="" class="btn btn-primary btn-lg" href="#" role="button">Upload all Documents</a>
                <a name="" id="" class="btn btn-secondary btn-lg" href="{% url 'batch-list' %}" role="button">Cancel</a>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Documents</h4>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td scope="row">{{ document.type }}</td>
                        <td scope="row">{{ document.image }}</td>
                        <td scope="row">{{ document.is_upload }}</td>
                        <td scope="row">
                            <a name="" id="" class="btn btn-primary" href="{% url 'document-detail' document.pk %}"
                               role="button">
                                <i class="fa fa-search" aria-hidden="true"></i> Detail
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td scope="row" colspan="4">
                            <div class="d-flex justify-content-center">
                                <h1 class="font-weight-bold" style="font-size: 4.8em">>=(</h1>
                            </div>
                            <span class="d-flex justify-content-center">No Documents For You my Friend</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if documents.paginator.num_pages > 1 %}
                <nav>
                    <ul class="pagination">
                        {% if documents.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ documents.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                        {% endif %}

                        {% for i in documents.paginator.page_range %}
                            {% if documents.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}

                        {% if documents.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ documents.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}