{% extends 'base.html' %}

{% block title %}
    List of batch
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Filters</h4>
            <p class="card-text">Text</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Results
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Correlative</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>

                {% for object in object_list %}
                    <tr>
                        <td scope="row">{{ object.correlative }}</td>
                        <td scope="row">{{ object.get_number_of_documents_by_batch }}</td>
                        <td>
                            {% if object.is_uploaded %}
                                <p class="text-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Is finish</p>
                            {% else %}
                                <p class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Is <strong>NOT</strong>
                                    finish</p>
                            {% endif %}

                        </td>
                        <td>
                            <a name="" id="" class="btn btn-primary" href="{% url 'batch-detail' object.pk %}" role="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                See</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td scope="row" colspan="3">No batch register =(</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
{% endblock %}