{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% load crispy_forms_tags %}

            <h4 class="card-title">Login</h4>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% crispy form form.helper %}
            </form>
        </div>
    </div>

{% endblock %}